torchio
opencv-python-headless
matplotlib
pandas
prefetch_generator
monai
edt
surface-distance
medim

pyvista[jupyter]
ipykernel
scikit-image

transformers==4.38.2
tokenizers==0.15.2
protobuf
sentencepiece